body{
    background: seashell;
}
.imgs{
    width: 275px;
    height:168px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
    position:relative;
    overflow: hidden;   
}
.imgs> img{
    width: 275px;
    height:168px;
    position:absolute;
    top:0;
    left:0; 
    transition:all 1.5s;
}

.imgs> img.current{
    transform:translateX(0);
    z-index:1;
}
.imgs> img.leave{
    transform:translateX(-100%);
    z-index:1;
}
.imgs> img.enter{
    transform:translateX(100%)
}